#banner {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 44px;
}
.bar {
	width: 100%;
}
#contact {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.contact {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	padding-left: .5em;
	padding-top: 3em;
}
#menu {
	margin-top: 2.5em;
	width: 100%;
}
#information {
	width: 100%;
}

#events {
	width: 100%;
}
#alum {
	width: 100%;
}
#active {
	width: 100%;
};
iframe {
	width: 100%;
	height: 42em;
	display: none;
}
#form {
	font-size: 10em;
	color: #3399FF;
	display: none;
}
.twitter-timeline {
	width: 100%;
}


#facebook {
}
#menu form input {
	width: 100%;
	height: 5em;
	margin-top: 0.5em;
}

